.App-header {
  min-height: 30px;
  background: #ffffff;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #ff0000;
  align-items: center;
  border-bottom: 1px solid #ffc4c4;
}

.App-header p {
  font-weight: 600;
}

.App-header .Icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Category ul {
  display: none;
}

/* 
.Category ul li {
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.Category ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

 .bars:active {
  color: #ff6f67;
}

.Category:hover ul{
  display: block;
} */
.viewSection {
  display: flex;
  flex-direction: column;
  padding: 40px 10%;

}

.viewSection .img {
  width: 80%;
  margin: auto;

}

.viewSection .img img {
  width: 100%;
  object-fit: contain;
}

.viewSection .viewCa {
  text-align: left;
}

.viewSection .viewCa p {
  line-height: 30px;
  word-spacing: 3px;
}

.viewSection .viewCa .viewName {
  font-size: 1.2em;
  word-spacing: 0;
}

.viewSection .viewCa .viewPrice {
  font-size: 1.7em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.viewSection .viewCa button {
  border-radius: 5px;
}

.sectionView .back {
  width: 60%;
  margin: auto;
}

.sectionView {
  padding: 50px 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  width: 100%;
}

section .container {
  width: 70%;
  margin: auto;
  color: rgb(78, 78, 78);
}

section .container {
  width: 100%;
}

section .container h1 {
  font-size: 2.0em;
}

section .container p {
  font-size: 1.2em;
}

section button {
  background: #ff3939;
  padding: 10px 15px;
}

section .container2 {
  width: 100%;
}

section .container2 img {
  width: 80%;
}


.Filtering {
  text-align: center;
  background: #ffffff;
  padding: 20px 0;
}

.Filtering .search {
  display: flex;
  justify-content: center;
}

.Filtering .search #search {
  padding: 10px 5px;
  width: 70%;
  outline: 1px solid #39a9ff;
  border: none;
}

.Filtering .search #submit {
  width: 15%;
  color: white;
  background: #39a9ff;
  border: none;
  outline: 1px solid #39a9ff;
}

.Filtering p {
  font-size: 1.2em;
  color: rgb(255, 153, 0);
  font-weight: 500;
}

button {
  border: none;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  background: transparent;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemCard {
  width: 40%;
  background-color: #ffffff;
  color: rgb(112, 112, 112);
  text-align: center;
  margin: 10px auto;
  position: relative;
  border: 1px solid #eaebef;
}

.itemCard .ImgCard {
  width: 100%;
  height: 200px;
  padding-top: 10px;
}

.itemCard .ImgCard img {
  width: 100%;
  object-fit: scale-down;
  height: 100%;
}

.itemCard p {
  font-size: 0.7em;
  padding: 5px 10px 0 10px;
  margin: 0;
  text-align: left;
}

.itemCard .name {
  font-weight: 600;
  font-size: 0.7em;
}

.itemCard .price {
  font-size: 1.0em;
  font-weight: 600;
  padding-top: 0;
}

.itemCard span {
  text-transform: capitalize;
  padding: 5px;
  background: #f3d1d1;
  position: absolute;
  top: 0;
  font-size: 0.7em;
  left: 0;
  overflow: hidden;
  z-index: 99;
  color: rgb(82, 82, 82);
}

.itemCard button {
  width: 90%;
  color: rgb(255, 255, 255);
  background: #ff6f67;
  margin: 10px 0;
}

.footer {
  background-color: #ffffff;
  color: #8d8d8d;
}

.socials {
  text-align: center;
  margin: 30px 0 0 0;
  padding: 10px;
}

@media (min-width:600px) {
  .itemCard {
    width: 30%;
  }
}

@media (min-width:700px) {
  .itemCard {
    width: 25%;
  }
}

@media (min-width:800px) {
  .itemCard {
    width: 20%;
  }
}

@media (min-width:900px) {
  .Icons .bars {
    display: none;
  }

  .Category {
    width: 90%;
  }

  .Category ul {
    list-style-type: none;
    display: inline-flex;
    position: inherit;
    justify-content: center;
    align-items: center;
    top: 0;
    background: transparent;
  }

  .Category ul li {
    font-size: 0.6em;
    padding: 5px;
    text-transform: capitalize;
    transition: ease 0.8s;
  }

  .Category ul li a {
    padding: 15px;
    color: #989898;
    text-decoration: none;
  }

  .Category ul li:hover {
    background: #ffdddda0;
  }

  .items {
    padding: 0 15%;
  }

  .App-header {
    padding: 0 15%;
  }

  .itemCard {
    width: 30%;
  }

  .viewSection {
    flex-direction: row;
    justify-content: space-between;
  }
.sectionView{
  display: block;
}
.sectionView .back{
  width: 10%;
}
  section {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    max-height: 300px;
  }

  section .container {
    text-align: left;
    width: 50%;
    padding: 0 0 0 15%;
    height: 100%;
  }

  section .container2 {
    width: 50%;
    padding: 0 15% 0 0;
    text-align: right;
    height: 100%;
  }

  section .container2 img {
    object-fit: contain;
    height: 250px;
  }

  section .container p {
    font-size: 1.1em;
  }

  section .container h1 {
    font-size: 2.5em;
  }
}

@media (min-width:1000px) {
  .itemCard {
    width: 20%;
  }
}



@media (min-width:750px) {

  .socials {
    font-size: 1em;
  }
}