.App {
  width: 100%;
}

.App-header {
  background: hsl(206, 100%, 99%);
  min-height: 30px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #39a9ff;
  align-items: center;
}

.App-header p {
  color: #39a9ff;
}

.App-header .Icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: aliceblue;
}

section .container {
  width: 70%;
  margin: auto;
  color: rgb(78, 78, 78);
}

section .container {
  width: 100%;
}

section .container h1 {
  font-size: 2.0em;
}

section .container p {
  font-size: 1.2em;
}

section button {
  background: rgb(255, 153, 0);
  padding: 10px 15px;
  border-radius: 5px;
}

section .container2 {
  width: 100%;
}

section .container2 img {
  width: 80%;
}


.Filtering {
  text-align: center;
}

.Filtering .search {
  display: flex;
  justify-content: center;
}

.Filtering .search #search {
  padding: 10px 5px;
  width: 70%;
  outline: 1px solid #39a9ff;
  border: none;
}

.Filtering .search #submit {
  width: 15%;
  border: none;
  outline: 1px solid #39a9ff;
}

.Filtering p {
  font-size: 1.2em;
  color: rgb(255, 153, 0);
  font-weight: 500;
}

.category {
  background: #39a9ff;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  overflow: scroll hidden;

}

.category::-webkit-scrollbar {
  overflow-y: hidden;
}

.category button {
  padding: 10px 10px;
}

.category button:hover {
  background: rgb(255, 153, 0);
}

button {
  border: none;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  background: transparent;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemCard {
  width: 40%;
  background-color: #ffffff;
  color: rgb(112, 112, 112);
  text-align: center;
  margin: 10px auto;
  position: relative;
  border: 1px solid #eaebef;
}

.itemCard .ImgCard {
  width: 100%;
  height: 200px;
  padding-top: 10px;
}

.itemCard .ImgCard img {
  width: 100%;
  object-fit: scale-down;
  height: 100%;
}

.itemCard p {
  font-size: 0.7em;
  padding: 5px 10px 0 10px;
  margin: 0;
  text-align: left;
}

.itemCard .name {
  font-weight: 600;
  font-size: 0.7em;
}

.itemCard .price {
  font-size: 1.0em;
  font-weight: 600;
  padding-top: 0;
}

.itemCard span {
  text-transform: capitalize;
  padding: 5px;
  background: #d1e4f3;
  position: absolute;
  top: 0;
  font-size: 0.7em;
  left: 0;
  overflow: hidden;
  z-index: 99;
  color: rgb(82, 82, 82);
}

.itemCard button {
  width: 90%;
  color: rgb(255, 255, 255);
  background: #67bdff;
  margin: 10px 0;
}

@media (min-width:600px) {
  .itemCard {
    width: 30%;
  }
}

@media (min-width:700px) {
  .itemCard {
    width: 25%;
  }


}

@media (min-width:800px) {
  .itemCard {
    width: 20%;
  }
}

@media (min-width:900px) {
  .itemCard {
    width: 20%;
  }

  section {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  section .container {
    text-align: left;
    width: 40%;
    padding: 0 0 0 50px;
  }

  section .container2 {
    width: 50%;
  }

  section .container p {
    font-size: 1.5em;
  }

  section .container h1 {
    font-size: 2.5em;
  }

  section .container2 img {
    width: 60%;
    padding: 10px;
  }
}

@media (min-width:1000px) {
  .itemCard {
    width: 15%;
  }
}